.player-icon svg {
  font-size: 1.5em;
}

.player-icon:hover,
.player-icon__ctrl:hover,
.player-icon__main:hover {
  cursor: pointer;
}

.player-icon:active,
.player-icon__ctrl:active,
.player-icon__main:active {
  transform: scale(0.95);
}

.player-icon__ctrl {
  font-size: 1.5em;
  color: #fff;
  background-color: #df3b3b;
  padding: 5px;
  border-radius: 50%;
}

.player-icon__main {
  font-size: 2.8em;
  color: #df3b3b;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.player-icon__ctrl,
.player-icon__main {
  margin-left: 25px;
}